/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings:
    "wght" var(--title-weight),
    "wght" var(--main-weight);
  background-image: var(--header-background);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}

.header {
  inline-size: var(--inline-size);
  background-color: var(--main-color);
  border: var(--block-border);
  padding-inline: clamp(16px, calc(-21.5px + 10vw), 122.5px);
  padding-block: clamp(122px, calc(119.183px + 0.751vw), 130px);
  margin-block-start: 100px;
}
.title {
  font-family: var(--accent-font);
  font-size: clamp(3.06rem, calc(2.71rem + 1.502vw), 4.06rem);
  text-transform: uppercase;
}
.subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.88rem, calc(0.677rem + 0.845vw), 1.44rem);
  text-transform: uppercase;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cards {
  font-family: var(--main-font);
  margin-block: clamp(96px, calc(98.704px - 0.188vw), 98px);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.card {
  inline-size: var(--inline-size);
  border: var(--block-border);
  background-color: var(--main-color);
  padding-block-end: 20px;
}
.card-title {
  font-variation-settings: "wght" var(--title-weight);
  padding: 4px 10px;
  font-size: var(--card-font-size);
}
.card-image {
  border-block-start: var(--block-border);
  border-block-end: var(--block-border);
  position: relative;
}
.image {
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  inline-size: 100%;
}
.label {
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--text-stroke),
    0 1px var(--text-stroke),
    1px 0 var(--text-stroke),
    0 -1px var(--text-stroke);
}
@supports (
  (text-stroke: 1px var(--text-stroke)) or
    (-webkit-text-stroke: 1px var(--text-stroke))
) {
  .label {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: var(--card-font-size);
  padding: 25px 25px 0px;
}

button {
  background-color: var(--main-color);
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  cursor: pointer;
  position: relative;
}
.card__like-button {
  padding: 10px 35px;
}
.card__icon-button {
  border: none;
}
.card-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.memory-button {
  display: flex;
  gap: 8px;
  padding: 15px 19px;
  align-items: center;
  border: var(--block-border);
}
.card__like-button {
  border: var(--block-border);
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}
dialog[open] {
  row-gap: 30px;
  column-gap: 20px;
  width: 353px;
  font-family: var(--accent-font);
  padding: 30px;
  display: grid;
  grid-template-columns: min-content 1fr;
  text-transform: uppercase;
  line-height: 150%;
  font-size: var(--small-font-size);
}
dialog button {
  padding: 10px 0;
  grid-column: 1 / 3;
  text-transform: uppercase;
}
dialog svg {
  align-self: center;
}
button:focus:not(.card__icon-button) {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
  transition: box-shadow 0.3s ease;
}

button:not(.card__icon-button)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

button:hover::before {
  transform: scaleX(1);
}
.button__text {
  position: relative;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.floppy {
  mix-blend-mode: difference;
  color: var(--main-color);
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button {
  border: 2px solid transparent;
}
.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border 0.3s ease;
}
@media (width <= 375px) {
  dialog[open] {
    padding: 30px 40px;
  }
  .memory-button {
    flex-direction: column;
  }
  .floppy {
    width: 28px;
    height: 28px;
  }
}
.brightness {
  filter: brightness(200%);
}
.contrast {
  filter: contrast(200%);
}
.blur {
  filter: blur(10px);
}
.hue-rotate {
  filter: hue-rotate(220deg);
}
.sepia {
  filter: sepia(100%);
}
.invert {
  filter: invert(80%);
}
.saturate {
  filter: saturate(200%);
}
.multi-filter {
  filter: brightness(200%) contrast(200%) hue-rotate(220deg) saturate(200%)
    invert(80%);
}
