/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --main-weight: 410;
  --title-weight: 715;
  --header-background:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --inline-size: clamp(375px, calc(260.563px + 30.516vw), 700px);
  --block-border: 2px solid #000;
  --text-stroke: rgba(255, 255, 255, 1);
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --sparks-color: #ff0000;
  --main-color: #fff;
  --accent-color: #000;
  --card-font-size: 18px;
  --small-font-size: 14px;
}
